#heading{
    margin: -5px;
}

.addpromain{
    box-shadow: 0px 0px 2px 3px rgb(206, 204, 204);
    padding: 20px;
    padding-top: 30px;
    margin: 10px;
    border-radius: 5px;
    min-height: 95%;
    
}

.AddProSub{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.Addsubdiv{
    margin-bottom: 30px;
}

#botbuttons{
    bottom: 0;
    position: absolute;
    right: 0;
    margin: 30px;
    margin-bottom: -50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.botbut{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid;
}

.botbut:hover{
    background: #5e015c;
    color: aliceblue;
}