.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.gallery-item {
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
 
}

.gallery-item img {
  min-height: 350px; /* set a fixed height */
  width: auto;
  max-width: 450px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05); 
  transition: transform 0.01s ease-in-out; 
}