.navbar{
  
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    height: 60px; 
    align-items: center;
    gap: 100px;
    font-size:large;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 5px;
    padding-left: 15px;
    justify-content: center;
    margin-left: 5px;
}

 

#logo{
  width: 60px;
  height: auto;
  padding-left: 10px;
  position: absolute;
  left: 0;
}

.navbar li a{
    text-decoration: none;
    color: inherit;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    font-style: italic;
    font-family:cursive;
    display: inline-block;
    font-weight: bold;
  }

  .navbar li :hover{
    border-bottom:2px solid grey;
    transform: scale(1.2); /* adds visual size without affecting layout */
    transition: transform 0.1s ease-in-out;
    font-weight: bolder;
  }

  .outer{
    background: #fff;
    display: flex;
    width: 100%; 
    flex-direction: row; 
    padding: 5px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .upbtn{
    right: 0;
    margin: 20px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background: #0561d8;
    font-weight: bold;
    font-size: medium;
    color: #fff;
  }